<a href="https://colab.research.google.com/github/YossiTapiero26/Python_Basics/blob/main/Control_Flow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Control flow in Python**

1. Introduction to Control flow

Control flow in programming refers to the order in which individual statements, instructions, or function calls are executed or evaluated. Understanding control flow is essential for creating algorithms and solving complex problems.

2. Conditional Statements:

Conditional statements allow you yo execute certain pieces of code based on whether a condition is true or false.

# **'If' Statement**

In [ ]:
x = 10
if x > 5:
  print("x is greater than 5")

x is greater than 5

# **'If-else' Statement**
the if-else statement executes one block if the condition is true ans another block if the condition is false

In [ ]:
x = 3
if x > 4:
  print("x is greater than 3")
else:
  print("x is not greater than 3")

x is not greater than 3

# **'If-elif-else' Statement**

In [ ]:
x = 10
if x > 5:
  print("x is greater than 5")
elif x < 5:
  print("x is less than 5")
else:
  print("x is equal to 5")

x is greater than 5

# **Looping Statements**

Looping statements allow you to execute a block of code repeatedly

## 'for' Loop

iterates over a sequence (such as list, tuple, dictionary, set or string)

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

## 'While' Loop

the while loop executes a block of code as long as a specified condition is true

In [ ]:
x = 0
while x < 5:
  print(x)
  x+= 1

0
1
2
3
4

# **Control Flow Tools**

Pyhton provides several tools to cotrol the flow of loops and conditionals.

## **'Break' Statement**

The break statement terminates the loop prematurely

In [ ]:
for i in range(10):
  if i == 5:
    break
  print(i)

0
1
2
3
4

## **'Continue' statement**

The condition statement skips the rest of the code inside the loop inside the loop for the current iteration and moves to the next iteration.

In [ ]:
for i in range(10):
  if i % 2 == 0:
    continue
  print(i)

1
3
5
7
9

## **'pass' Statement**

The pass statement does nothing and is used as a placeholder

In [ ]:
for i in range(10):
  if i % 2 == 0:
    pass
  else:
    print(i)

1
3
5
7
9

In [ ]:
# Filter out the even numbers from a list

data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [x for x in data if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

In [ ]:
# Calculate the sum of all elements in a lit

print("\nSum First way :")
data2 = [1, 2, 3, 4]
sum = 0
for k in range(len(data2)):
  sum += data2[k]
print(sum)

print("\nSum Second way :")
data2 = [1, 2, 3, 4]
sum = 0
for elem in data2:
  sum += elem
print(sum)

Sum First way :
10

Sum Second way :
10

In [ ]:
# Write a pgrm that print

for k in range(1,51):
  if k % 3 == 0 and k % 5 == 0:
    print("FizzBuzz")
  elif k % 3 == 0:
    print("Fizz")
  elif k % 5 == 0:
    print("Buzz")
  else:
    print(k)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

In [ ]:
for i in range(2,101):
  is_Prime = True
  for j in range(2,i):
    if i % j == 0:
      is_Prime = False
      break
  if is_Prime:
      print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
# write a program to find the sum of the digit of a number

num = 123
sum = 0
while num > 0:
  digit = num % 10
  sum += digit
  num //= 10
print(sum)

6

In [ ]:
# write a program to write the fibonnacci sequence up to n terms

n = 10
a, b = 0, 1
for _ in range(n):
  print(a)
  a , b = b , a + b

0
1
1
2
3
5
8
13
21
34

In [ ]:
num = int(input("Enter a number: "))
fact = 1
for i in range(1, num + 1):
  fact *= i
print(fact)

Enter a number: 5
120

In [ ]:
# write a progrm to reverse a given string

s = "data science"
print(len(s))
reversed_s = ""
#permet d'itérer sur une séquence s en sens inverse, du dernier élément au premier. (nb el, dernier element,indice 0, le pas)
for i in range(len(s)-1, -1, -1):
  reversed_s += s[i]
print(reversed_s)

12
ecneics atad

In [ ]:
# write a prgrm to check is a string is a palindrome

s = "malayalam"
reversed_s = ""
for i in range(len(s)-1, -1, -1):
  reversed_s += s[i]
if s == reversed_s:
  print("Palindrome")
else:
  print("Not a palindrome")


         #AUTRE POSSIBILITE

d = "radar"
is_palindrome =  d == d[::-1]
print("is Palindrome : " , is_palindrome)

Palindrome
is Palindrome :  True

In [ ]:
# write a program to count the number of vowels and consonants in a string

s = "hello world"
vowels = "aeiou"
consonants = "bcdfghjklmnpqrstvwxyz"
v = 0
c = 0
for char in s:
  if char in vowels:
    v += 1
  elif char in consonants:
    c += 1
print("Vowels : ", v)
print("Consonants : ", c)

Vowels :  3
Consonants :  7

In [ ]:
# write a program to calculate the sum of all even numbers in a list

l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum = 0
for element in l:
  if element % 2 == 0:
    sum += element
print(sum)

30

In [ ]:
# write a prgrm to print a multiplication table (from 1 to 10)

for i in range(1, 11):
  for j in range(1, 11):
    print(f"{i} x {j} = {i * j}", end="\t")
  print()

1 x 1 = 1	1 x 2 = 2	1 x 3 = 3	1 x 4 = 4	1 x 5 = 5	1 x 6 = 6	1 x 7 = 7	1 x 8 = 8	1 x 9 = 9	1 x 10 = 10
2 x 1 = 2	2 x 2 = 4	2 x 3 = 6	2 x 4 = 8	2 x 5 = 10	2 x 6 = 12	2 x 7 = 14	2 x 8 = 16	2 x 9 = 18	2 x 10 = 20
3 x 1 = 3	3 x 2 = 6	3 x 3 = 9	3 x 4 = 12	3 x 5 = 15	3 x 6 = 18	3 x 7 = 21	3 x 8 = 24	3 x 9 = 27	3 x 10 = 30
4 x 1 = 4	4 x 2 = 8	4 x 3 = 12	4 x 4 = 16	4 x 5 = 20	4 x 6 = 24	4 x 7 = 28	4 x 8 = 32	4 x 9 = 36	4 x 10 = 40
5 x 1 = 5	5 x 2 = 10	5 x 3 = 15	5 x 4 = 20	5 x 5 = 25	5 x 6 = 30	5 x 7 = 35	5 x 8 = 40	5 x 9 = 45	5 x 10 = 50
6 x 1 = 6	6 x 2 = 12	6 x 3 = 18	6 x 4 = 24	6 x 5 = 30	6 x 6 = 36	6 x 7 = 42	6 x 8 = 48	6 x 9 = 54	6 x 10 = 60
7 x 1 = 7	7 x 2 = 14	7 x 3 = 21	7 x 4 = 28	7 x 5 = 35	7 x 6 = 42	7 x 7 = 49	7 x 8 = 56	7 x 9 = 63	7 x 10 = 70
8 x 1 = 8	8 x 2 = 16	8 x 3 = 24	8 x 4 = 32	8 x 5 = 40	8 x 6 = 48	8 x 7 = 56	8 x 8 = 64	8 x 9 = 72	8 x 10 = 80
9 x 1 = 9	9 x 2 = 18	9 x 3 = 27	9 x 4 = 36	9 x 5 = 45	9 x 6 = 54	9 x 7 = 63	9 x 8 = 72	9 x 9 = 81	9 x 10 = 90
10 x 1 = 10	10 x 2 = 20	10 x 3 = 30	10 x 4 = 40	10 x 5 = 50	10 x 6 = 60	10 x 7 = 70	10 x 8 = 80	10 x 9 = 90	10 x 10 = 100

In [ ]:
# use list comprehension to create a list of squares of even numbers from a given list.

l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

sq = [x**2 for x in l if x % 2 == 0]

print("Squares of even numbers", sq)

Squares of even numbers [4, 16, 36, 64, 100]

In [ ]:
# write a prgrm to find the common elements in twho lists
list1 = [1, 2, 3, 4, 5]
list2 = [3, 5, 8, 9, 10]

result = [x for x in list1 if x in list2 ]
print (result)

[3, 5]

In [ ]:
# write a prgrm to c

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
av = 0
for x in numbers:
  av += x
av /= len(numbers)
print(av)

5.5

In [ ]:
# write a prgrm to remove duplicates in a list
liste = [1, 2, 3, 4, 3, 5, 6, 2, 7, 8, 8]

unique_list = []
for num in liste:
  if num not in unique_list:
    unique_list.append(num)
print(unique_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# Write a program to flatten a nested list.

# Input: [1, [2, [3, 4], 5], 6]
# Output: [1, 2, 3, 4, 5, 6]

nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
flattened_list = [item for sublist in nested_list for item in sublist]
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Write a program to generate a dictionary from two lists, one for keys and one for values
keys = ['a', 'b', 'c', 'd']
values = [1, 2, 3, 4]
dictionary = dict(zip(keys, values))

print("Dictionary:", dictionary)

Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [11]:
# Write a program to find the longest word in a given sentence.
s = "hello world, my name is Yossi and I am a Data Scientist"

split_list = s.split()
length_list = [len(word) for word in s.split()]
max = 0

for i in range(len(split_list)):
  if length_list[i] > max:
    max = length_list[i]
    maximum = split_list[i]
print(maximum)

Scientist

In [14]:
# Write a program to generate the first n prime numbers.
n = int(input("Enter a number: "))
for i in range(2,n+1):
  is_Prime = True
  for j in range(2,i):
    if i % j == 0:
      is_Prime = False
      break
  if is_Prime:
      print(i)

Enter a number: 17
2
3
5
7
11
13
17

In [22]:
#  Write a program to convert a decimal number to its binary representation.

number = 10
binary = ""
while number > 0:
  binary = str(number % 2) + binary
  print(binary)
  number //= 2
print("binary representation : ", binary)

0
10
010
1010
binary representation :  1010

In [23]:
# Write a program to sort a list of dictionaries by a specified key.

list_of_dict = [{"name": "Alice", "age": 25}, {"name": "Bob", "age": 30}, {"name": "Charlie", "age": 20}]
sorted_list = sorted(list_of_dict, key=lambda x: x["age"])
print(sorted_list)

[{'name': 'Charlie', 'age': 20}, {'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [25]:
#  Write a program to calculate the greatest common divisor (GCD) of two numbers.

a = 24
b = 36

while b != 0:
  temp = b
  print(temp)
  b = a % b
  print(b)
  a = temp
  print(a)
  print("\n")
print(a)
#

36
24
36


24
12
24


12
0
12


12

In [27]:
# Write a program to generate a list of the first n Fibonacci numbers.

n = int(input("Enter a number: "))
a, b = 0, 1
for _ in range(n):
  print(a)
  a , b = b , a + b

Enter a number: 5
0
1
1
2
3

In [28]:
# Write a program to find the intersection of two lists.

L1 = [1, 2, 3, 4, 5]
L2 = [3, 4, 5, 6, 7]

intersection = [x for x in L1 if x in L2]
print(intersection)

[3, 4, 5]

In [30]:
# Write a program to merge two sorted lists into a single sorted list without using function sort

L1 = [1, 3, 5, 7, 9]
L2 = [2, 4, 6, 8, 10]

merged_list = []
i = 0
j = 0
while i < len(L1) and j < len(L2):
  if L1[i] < L2[j]:
    merged_list.append(L1[i])
    i += 1
    print(merged_list)
  else:
    merged_list.append(L2[j])
    j += 1
    print(merged_list)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
#  Write a program to calculate the dot product of two vectors.

v1 = [1, 2, 3]
v2 = [4, 5, 6]

dot_product = sum([x * y for x, y in  zip(v1, v2) ])
print(dot_product)

32

In [ ]:
# Write a program to implement a simple calculator that can perform basic arithmetic operations (+, -, *, /)


def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    if y == 0:
        return "Error! Division by zero."
    return x / y

def calculator():
    print("Simple Calculator")
    print("Select operation:")
    print("1. Add")
    print("2. Subtract")
    print("3. Multiply")
    print("4. Divide")

    while True:
        # Take input from the user
        choice = input("Enter choice (1/2/3/4): ")

        if choice in ['1', '2', '3', '4']:
            num1 = float(input("Enter first number: "))
            num2 = float(input("Enter second number: "))

            if choice == '1':
                print(f"The result is: {add(num1, num2)}")

            elif choice == '2':
                print(f"The result is: {subtract(num1, num2)}")

            elif choice == '3':
                print(f"The result is: {multiply(num1, num2)}")

            elif choice == '4':
                print(f"The result is: {divide(num1, num2)}")

            # Ask if the user wants to perform another calculation
            next_calculation = input("Do you want to perform another calculation? (yes/no): ")
            if next_calculation.lower() != 'yes':
                break
        else:
            print("Invalid input")

if __name__ == "__main__":
    calculator()

Simple Calculator
Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide
Enter choice (1/2/3/4): 1
Enter first number: 2
Enter second number: 3
The result is: 5.0